<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>users</title>
</head>
<body>
    <h1>count of users : <%= users %></h1>
    <form action="http://localhost:8080/users"><button>users</button></form>
</body>
</html>